<!DOCTYPE html>
<html>
<head>
        <title>createNew</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style4.css')}}">
</head>
<body>
        <form name="create_new" action="#" method='post'>
                <input name="new_subject" type="text" value="Subject">
                <input name="new_goal" type="text" value="Goal">
                <input name="new_comments" type="text" value="Comments">
                <p>
                        <input name="new_submit" type="Submit" value="Create">
                </p>
        </form>
</body>
</html>
